@font-face {
    font-family: Futured;
    src: url("../../fonts/Futured.TTF");
}

* {
  margin: 0;
  padding: 0;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #0d0d0d;
  display: grid;
  grid-template-columns: 25% 75%;
  align-content: center;
  font-family: Futured;
}
.contenedor {
  height: 100vh;
}

#contenedor {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  flex-wrap: wrap;
}

.contenedor-puntos {
    border-right: 2px solid #7F886A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor-puntos a {
    font-family: Futured;
  font-size: 2.5vw;
  font-weight: bolder;
  text-decoration: none;
  color: #3E503C;
  background-color: #F3ECDB;
    margin: 5%;
    border-radius: 10px;
    padding: 20px 40px;
    transition: .5s;
}

.contenedor-puntos a:hover {
    background-color: #f3ecdb7e;
}

.contenedor-time{
    background-color: #7F886A;
    color: white;
    margin: 5%;
    border-radius: 10px;
    padding: 20px 40px;
}

.contenedor-pounts{
    background-color: #3E503C;
    color: white;
    margin: 5%;
    border-radius: 10px;
    padding: 20px 40px;
}

.btn-start {
    font-family: Futured;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  background-color: #FD1F4A;
  color: #fff;
  padding: 20px 40px;
  margin: 5%;
  border-radius: 10px;
  transition: 1s;
  display: block;
  cursor: pointer;
}
.btn-start:hover {
  background-color: #fd1f4bd7;
}

.btn-end {
    font-family: Futured;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    background-color: #FD1F4A;
    color: #fff;
    padding: 20px 40px;
    margin: 5%;
    border-radius: 10px;
    transition: 1s;
    display: none;
}
.btn-end:hover {
    background-color: #fd1f4bd7;
}

.card {
  background-color: #ffffff;
  margin: auto;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  border: 2px dashed #7F886A;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
.card:checked ~ .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:checked .back{
    transform: perspective(600px) rotateY(360deg);
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
}
*/
.card > img {
  height: 80px;
  display: none;
}

.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(249, 249, 249);
  background-color: rgba(0, 0, 0, 0.097);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #3E503C;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#mensaje{
    font-size: 40px;
}

#img-resultado{
  width: 30%;
}
.card-puntos{
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.card-punto{
  width: 80px;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #3E503C;
  color: #fff;
  font-size: 40px;
}

.card-punto:nth-child(2){
  background-color: #3e503cde;
}

.card-punto:nth-child(3){
  background-color: #3e503cbc;
}
.card-punto:nth-child(4){
  background-color: #3e503c87;
}